<h1>Make your form here</h1>

<form method="POST" action="/pirates">
    Pirate name: <input type="text" name="pirate[name]"><br/>
    Pirate weight: <input type="text" name="pirate[weight]"><br/>
    Pirate height: <input type="text" name="pirate[height]"><br/>
    First ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"><br/>
    First ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"><br/>
    First ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"><br/>
    Second ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"><br/>
    Second ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"><br/>
    Second ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br/>
    <input type="submit" value="Submit">
</form>
